<?xml version="1.0" ?>
<!--*****************************************************************
********************** File created by hand *************************
*********************************************************************-->
<!-- To include the cap in romeo model just add :
    <xacro:include filename="romeo_cap.xacro"/>
    to the romeo_robot.xacro file
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="CameraDepth_frame"/>
    <joint name="CameraDepth_joint" type="fixed">
        <parent link="HeadRoll_link"/>
        <child link="CameraDepth_frame"/>
        <origin rpy="2.0043951 0 1.57079632679" xyz="0.1403 -0.04708 0.14655"/>
    </joint>

    <link name="Cap">
      <inertial>
        <mass value="0.29923"/>
        <inertia ixx="0.000412832" ixy="-1.67846e-06" ixz="0.000111721" iyy="0.000383921" iyz="5.04259e-05" izz="0.000264006"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://romeo_description/meshes/Cap.dae" scale="1 1 1"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </visual>
    </link>
    <joint name="Cap_joint" type="fixed">
        <parent link="HeadRoll_link"/>
        <child link="Cap"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

</robot>
