<?xml version="1.0"?>
<launch>
 	<!-- Call romeo Robot publisher -->
 	<!-- <include file="$(find romeo_description)/launch/display.launch" />  -->
 	
 	<include file="$(find romeo_description)/launch/romeo_desc_generated.launch" /> 

	<!-- Call Romeo Robot Trajectory Controller -->
	<include file="$(find romeo_dcm_control)/launch/romeo_dcm_position_control.launch"/>

 	<!-- Call Romeo Robot Driver -->
 	<node pkg="romeo_dcm_driver" type="romeo_dcm_driver" name="romeo_dcm_driver" respawn="false" output="screen" >
    		<!-- Load configurations from YAML file to parameter server -->
    		<rosparam file="$(find romeo_dcm_bringup)/config/romeo_dcm.yaml" command="load"/>
 	</node>

</launch>
