<!-- roslaunch file to view an URDF model in rviz.
      Adapted from urdf_tutorial/display.launch -->
<launch>
	<arg name="model" />
	<arg name="gui" default="True" />

  <include file="$(find romeo_description)/launch/romeo_desc_generated.launch">
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="rviz" pkg="rviz" type="rviz" args="-f torso -d $(find romeo_description)/config/urdf.rviz" />
</launch>
