<?xml version="1.0"?>
<launch>
  <!-- Load Nao Robot parameter file -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find romeo_description)/urdf/romeoV1_generated_urdf/romeorobot.xacro" /> 
<!--	<param name="robot_description" textfile="$(find nao_description)/urdf/naoV40_generated_urdf/nao.urdf" /> -->
<!--	<param name="robot_description" textfile="/tmp/nao.urdf" /> -->
</launch>
